* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    font-family: Helvetica, sans-serif;
}

.app .container {
    display: flex;
    flex-flow: row nowrap;
}


.app .container section {
    display: flex;
    flex-direction: column;

    gap: 30px;

    width: 33.3%;
    border: 1px solid transparent;

    padding: 10px;
}

.app .container section>* {
    width: 100%;
}



.post-form {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.post-form form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

form input {
    padding: 5px;
}

form input:focus {
    outline: none;
    border-color: transparent;
    background-color: #bec7d7;
}

form input[type='submit'] {
    color: white;
    background-color: #4267B2;
    cursor: pointer;
}