.poll {
    width: 100%;
    font-size: .9rem;

    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.poll, .option {
    border-radius: 15px;
}
.poll .question {
    color: white;
    background-color: #1877f2;
    padding: 10px 15px;

    text-align: center;
}
.poll .option-container {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
    padding: 20px;
}

.option {
    display: flex;
    flex-flow: row nowrap;

    width: 100%;
    padding: 0 10px;
    cursor: pointer;
    background-color: rgb(223, 223, 223);
}

.option:hover {
    background-color: #a8c6ff;
}
.option:active {
    color: white;
    background-color: #1877f2;
}
.option > * {
    width: 100%;
    padding: 5px;
}



.option .option-percentage {
    width: fit-content;
}